# Association between the gut microbiota and host behavior
Assess to what extent SGB abundances at each timepoint (D0, D15, D22, and D30) predict host behavior.

## Set up

### Import packages

In [1]:
import argparse
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, cross_val_predict, permutation_test_score
import numpy as np
import matplotlib
import seaborn as sns
import os

matplotlib.use('Agg')

### Set up argument parsing

In [9]:
# Set up argument parsing
def parse_args():
    parser = argparse.ArgumentParser(description="Run Random Forest to predict phenotype from microbiome abundance.")
    parser.add_argument(
        "--output_dir", 
        required=True, 
        help="Directory to save output files"
    )
    parser.add_argument(
        "--phenotype_vars", 
        type=str, 
        nargs="+", 
        help="List of phenotype variables to analyze, e.g., --phenotype_vars Social_preference Groom_duration Center_time"
    )
    parser.add_argument(
        "--phenotype_file", 
        type=str, 
        required=True, 
        help="Path to the phenotype metadata file"
    )
    parser.add_argument(
        "--abundance_file", 
        type=str, 
        required=True, 
        help="Path to the abundance data file"
    )
    parser.add_argument(
        "--timepoint", 
        required=True, 
        help="Timepoint of the data")
    return parser.parse_args()

# Parse arguments
args = parse_args()

usage: ipykernel_launcher.py [-h] --output_dir OUTPUT_DIR
                             [--phenotype_vars PHENOTYPE_VARS [PHENOTYPE_VARS ...]]
                             --phenotype_file PHENOTYPE_FILE --tissue
                             {Adr,VAT} --transcriptome_file TRANSCRIPTOME_FILE
ipykernel_launcher.py: error: the following arguments are required: --output_dir, --phenotype_file, --tissue, --transcriptome_file

SystemExit: 2

In [4]:
# Simulate arguments for troubleshooting
class Args:
    output_dir = "output/Behavior_T1"
    phenotype_vars = ["Center_occupancy", "Grooming_duration", "Social_preference"]
    phenotype_file = "Behavior_T1_data.txt"
    timepoint = "T1"
    abundance_file = "rep_SGB_raref_relative_abundance_MAG_ID.txt"

args = Args()

### Set up output directory

In [5]:
output_dir = args.output_dir
os.makedirs(output_dir, exist_ok=True)

### Define timepoint

In [7]:
timepoint = args.timepoint

### Define palette

In [42]:
treatment_color_map = {
    "Pair_H2O": "#63B8FF",     # steelblue2
    "Pair_TMT": "#EEC900",     # gold2
    "Single_H2O": "#CD1076",   # deeppink3
    "Single_TMT": "#EE9A49"    # sienna2
}

### Load data

In [26]:
# Load phenotype metadata
phenotype = pd.read_csv(args.phenotype_file, sep="\t")

# Load abundance data
abundance = pd.read_csv(args.abundance_file, sep="\t", index_col=0)

In [27]:
# Data overview

# Display first 5 rows
display(phenotype.head())
display(abundance.head())

# Check data types and missing values
print(phenotype.info())
print(abundance.info())

,Mouse_ID,Sample_ID,Sex,DOB,Dame,Sire,Parents,Litter,Weaned,Experiement_Start,...,TMT,Treatment,Pair_mouse,Cage_ID,Treatment_Timepoint,Stress,Center_occupancy,Grooming_duration,Social_preference,Weight
0,2028,2028_T1,Female,01/01/2022,NaN,NaN,NA_NA,NA_NA_44562,31/01/2022,15/02/2022,...,H2O,Pair_H2O,2029.0,2028_2029,Pair_H2O_T1,Control,344.533333,1,0.093117,15.04
1,2029,2029_T1,Female,01/01/2022,NaN,NaN,NA_NA,NA_NA_44562,31/01/2022,15/02/2022,...,H2O,Pair_H2O,2028.0,2028_2029,Pair_H2O_T1,Control,121.866667,65,0.446575,16.09
2,594,594_T1,Male,01/01/2022,550,560.0,550_560,550_560_44562,24/01/2022,15/02/2022,...,H2O,Pair_H2O,595.0,594_595,Pair_H2O_T1,Control,195.866667,14,0.895172,20.35
3,595,595_T1,Male,01/01/2022,550,560.0,550_560,550_560_44562,24/01/2022,15/02/2022,...,H2O,Pair_H2O,594.0,594_595,Pair_H2O_T1,Control,201.933333,88,0.474453,20.31
4,596,596_T1,Female,01/01/2022,550,560.0,550_560,550_560_44562,24/01/2022,15/02/2022,...,TMT,Pair_TMT,597.0,596_597,Pair_TMT_T1,Stressor,216.566667,17,0.879760,16.18

,MAG_ID,2028_T1,2028_T5,2029_T1,2029_T5,594_T1,594_T5,595_T1,595_T5,596_T1,...,640_T3,640_T4,641_T3,641_T4,642_T3,642_T4,643_T3,643_T4,660_T3,660_T4
SGB001,SGB001,1.653143,0.232005,0.081545,0.153245,0.000015,0.000015,0.000000,0.000000,0.328732,...,0.949320,0.334970,0.649551,0.889639,0.383688,0.516491,0.640410,1.021940,0.978599,0.278992
SGB002,SGB002,2.462126,0.473809,0.406443,0.709397,0.000000,0.000015,0.000015,0.000000,0.000016,...,0.000033,0.000034,0.000032,0.000033,0.000032,0.000000,0.000033,0.000034,0.000000,0.000000
SGB012,SGB012,1.551652,1.108049,0.176861,1.421700,0.845357,1.414299,1.040065,0.915453,2.027241,...,0.000043,0.000044,0.000041,0.000043,0.000041,0.000042,0.000000,0.000044,0.671992,1.282148
SGB035,SGB035,0.098810,0.152776,0.000000,0.126336,0.130409,0.090960,0.055733,0.082296,0.000018,...,0.000037,0.000000,0.000036,0.000000,0.000036,0.000000,0.000000,0.000000,0.000037,0.000038
SGB103,SGB103,6.220864,6.058197,3.336119,7.028358,10.585193,7.374783,5.469805,8.262121,3.451959,...,3.344646,7.991148,6.376491,4.813945,5.593970,7.400267,3.140161,4.628417,4.166448,6.480963

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Mouse_ID             47 non-null     int64
 1   Sample_ID            47 non-null     object
 2   Sex                  47 non-null     object
 3   DOB                  47 non-null     object
 4   Dame                 45 non-null     object
 5   Sire                 45 non-null     float64
 6   Parents              47 non-null     object
 7   Litter               47 non-null     object
 8   Weaned               47 non-null     object
 9   Experiement_Start    47 non-null     object
 10  Starting_Age         47 non-null     int64
 11  Days_P_Wean          47 non-null     int64
 12  Cohort               47 non-null     object
 13  Timepoint            47 non-null     object
 14  Sampling_date        47 non-null     object
 15  Sampling_Age         47 non-null     int64
 16  Housing              47 non-null     object
 17  TMT                  47 non-null     object
 18  Treatment            47 non-null     object
 19  Pair_mouse           30 non-null     float64
 20  Cage_ID              47 non-null     object
 21  Treatment_Timepoint  47 non-null     object
 22  Stress               47 non-null     object
 23  Center_occupancy     47 non-null     float64
 24  Grooming_duration    47 non-null     int64
 25  Social_preference    47 non-null     float64
 26  Weight               47 non-null     float64
dtypes: float64(5), int64(5), object(17)
memory usage: 10.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, SGB001 to SGB146
Columns: 182 entries, MAG_ID to 660_T4
dtypes: float64(181), object(1)
memory usage: 245.9+ KB
None

In [28]:
# Transpose the abundance table: Rows become Sample_IDs, Columns become MAG features
abundance = abundance.T
abundance.index.name = "Sample_ID"
abundance = abundance.reset_index()

# Convert abundance values to numeric (force non-numeric values to NaN and handle appropriately)
abundance.iloc[:, 1:] = abundance.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

# Remove 1st line
abundance = abundance.iloc[1:]

display(abundance.head())
print(abundance.info())

,Sample_ID,SGB001,SGB002,SGB012,SGB035,SGB103,SGB086,SGB152,SGB003,SGB011,...,SGB127,SGB065,SGB112,SGB077,SGB078,SGB061,SGB098,SGB017,SGB158,SGB146
1,2028_T1,1.653143,2.462126,1.551652,0.09881,6.220864,2.82632,0.583152,1.403031,5.083632,...,0.150603,0.000009,0.08632,0.0,0.087762,0.248802,0.0,0.0,0.0,0.0
2,2028_T5,0.232005,0.473809,1.108049,0.152776,6.058197,1.599059,0.684653,1.301366,1.742463,...,0.263139,0.076161,0.163405,0.000008,0.196704,0.0,0.522487,0.00001,3.461532,0.000014
3,2029_T1,0.081545,0.406443,0.176861,0.0,3.336119,0.351705,0.083235,0.283863,0.492405,...,0.893146,0.095887,0.330952,0.173563,0.242426,0.518093,0.000013,0.0,0.0,0.0
4,2029_T5,0.153245,0.709397,1.4217,0.126336,7.028358,2.16906,0.66416,1.971886,1.253085,...,0.281828,0.067306,0.262906,0.0,0.093791,0.000011,0.543518,0.0,3.097634,0.0
5,594_T1,0.000015,0.0,0.845357,0.130409,10.585193,1.411901,0.381543,1.830642,5.654489,...,0.108834,0.090903,0.154122,0.052562,0.232023,0.734222,0.00001,0.0,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 1 to 181
Columns: 173 entries, Sample_ID to SGB146
dtypes: object(173)
memory usage: 244.8+ KB
None

In [29]:
# Select relevant columns from phenotype metadata
phenotype = phenotype[["Sample_ID", "Treatment"] + args.phenotype_vars]  # Dynamic selection of phenotype variables

display(phenotype.head())

  Sample_ID Treatment  Center_occupancy  Grooming_duration  Social_preference
0   2028_T1  Pair_H2O        344.533333                  1           0.093117
1   2029_T1  Pair_H2O        121.866667                 65           0.446575
2    594_T1  Pair_H2O        195.866667                 14           0.895172
3    595_T1  Pair_H2O        201.933333                 88           0.474453
4    596_T1  Pair_TMT        216.566667                 17           0.879760

In [32]:
# Merge datasets on Sample_ID
merged = pd.merge(phenotype, abundance, on="Sample_ID")

display(merged)

,Sample_ID,Treatment,Center_occupancy,Grooming_duration,Social_preference,SGB001,SGB002,SGB012,SGB035,SGB103,...,SGB127,SGB065,SGB112,SGB077,SGB078,SGB061,SGB098,SGB017,SGB158,SGB146
0,2028_T1,Pair_H2O,344.533333,1,0.093117,1.653143,2.462126,1.551652,0.09881,6.220864,...,0.150603,0.000009,0.08632,0.0,0.087762,0.248802,0.0,0.0,0.0,0.0
1,2029_T1,Pair_H2O,121.866667,65,0.446575,0.081545,0.406443,0.176861,0.0,3.336119,...,0.893146,0.095887,0.330952,0.173563,0.242426,0.518093,0.000013,0.0,0.0,0.0
2,594_T1,Pair_H2O,195.866667,14,0.895172,0.000015,0.0,0.845357,0.130409,10.585193,...,0.108834,0.090903,0.154122,0.052562,0.232023,0.734222,0.00001,0.0,0.0,0.0
3,595_T1,Pair_H2O,201.933333,88,0.474453,0.0,0.000015,1.040065,0.055733,5.469805,...,0.141697,0.073088,0.166101,0.0,0.211688,0.77027,0.000011,0.00001,0.0,0.000014
4,596_T1,Pair_TMT,216.566667,17,0.879760,0.328732,0.000016,2.027241,0.000018,3.451959,...,0.210063,0.228806,0.14249,0.186937,0.103387,0.202915,0.0,1.027051,0.0,0.0
5,597_T1,Pair_TMT,118.633333,107,0.380531,0.215855,0.000015,1.298721,0.107695,7.48088,...,0.253092,0.130737,0.11882,0.10127,0.080589,0.323852,0.0,1.192089,0.0,0.0
6,598_T1,Single_TMT,175.500000,59,0.626506,0.000017,0.0,1.155102,0.058953,4.632725,...,0.348862,0.158319,0.313817,0.176335,0.314371,0.301876,0.000012,1.078787,0.0,0.0
7,599_T1,Single_H2O,164.833333,0,0.680000,0.112511,0.0,1.775267,0.0,5.268881,...,0.198408,0.597122,0.369971,0.166216,0.148677,0.486181,0.000011,1.892376,0.0,0.0
8,600_T1,Pair_TMT,164.200000,31,0.654839,0.12375,0.0,1.167028,0.0,4.627308,...,0.291782,0.239598,0.588204,0.184423,0.472715,0.382977,0.000011,0.00001,0.00001,0.000014
9,601_T1,Pair_TMT,118.366667,12,0.385124,0.233345,0.000016,1.369058,0.094255,4.930521,...,0.192376,0.223241,0.390331,0.198744,0.228945,0.256814,0.000011,0.0,0.00001,0.0
10,602_T1,Single_TMT,120.600000,53,-0.627628,0.246303,0.0,1.793088,0.181318,10.266798,...,0.161209,0.198984,0.398309,0.093268,0.242899,0.535079,0.0,0.0,0.0,0.0
11,603_T1,Pair_TMT,68.533333,147,0.521866,0.153753,0.0,0.661131,7.339629,4.65779,...,0.245383,0.000009,0.105574,0.046102,0.228342,0.070578,0.0,0.0,0.0,0.0
12,604_T1,Pair_TMT,153.033333,161,-0.051793,0.050334,0.000014,0.664384,5.074803,4.17764,...,0.680719,0.041623,0.230549,0.000008,0.133583,0.0,0.0,0.000009,0.000009,0.0
13,605_T1,Pair_TMT,122.533333,79,0.635593,0.147864,0.000016,0.115415,5.115247,4.784914,...,0.334775,0.099873,0.509599,0.132,0.42533,0.815533,0.000012,0.0,0.0,0.0
14,606_T1,Pair_TMT,83.733333,175,-0.306667,0.052009,0.000017,0.245971,4.814163,3.441907,...,0.453006,0.058296,0.802528,0.134326,0.222558,0.0,0.000012,0.0,0.0,0.0
15,607_T1,Pair_H2O,137.233333,135,0.090361,0.519994,0.0,1.295047,0.120715,5.102609,...,0.427972,0.049463,0.183146,0.000008,0.208862,0.301308,0.000011,2.04005,0.00001,0.0
16,608_T1,Single_H2O,99.666667,49,0.507003,0.815352,0.000015,1.573037,0.113934,5.976382,...,0.076569,0.094944,0.185194,0.077203,0.155933,0.274676,0.0,1.622376,0.00001,0.000013
17,609_T1,Single_TMT,45.700000,68,-0.295775,0.564922,0.000015,1.055901,0.127095,7.994931,...,0.048697,0.051259,0.214812,0.049956,0.119741,0.832323,0.0,0.043967,0.0,0.0
18,610_T1,Single_TMT,125.866667,66,0.032895,0.253682,0.0,1.818127,0.103647,6.698184,...,0.000009,0.192387,0.229405,0.273251,0.093094,0.579253,0.0,0.00001,0.0,0.0
19,611_T1,Pair_H2O,174.666667,148,0.072464,0.324547,0.0,1.042868,0.101071,7.000191,...,0.0,0.368239,0.100018,0.259513,0.085884,1.523636,0.0,1.385654,0.0,0.0
20,612_T1,Pair_H2O,173.333333,208,0.314917,0.0,0.0,0.000019,0.072177,5.310269,...,0.49591,0.376206,0.432507,0.432545,0.498741,0.0,0.0,0.0,0.0,0.000013
21,613_T1,Single_H2O,53.400000,85,-0.022403,0.401754,1.05383,0.503812,0.058369,4.378676,...,0.307876,0.000009,0.164225,0.098784,0.132967,0.357613,0.0,0.000009,0.0,0.0
22,614_T1,Pair_TMT,102.333333,82,0.450292,0.0,0.09588,0.634956,0.125889,8.989065,...,0.801734,0.146451,0.463729,0.051905,0.28401,0.000012,0.547321,0.00001,0.0,0.000014
23,615_T1,Pair_TMT,18.266667,24,0.589649,0.051357,0.230179,0.824543,0.108151,7.647557,...,0.674236,0.106897,0.472193,0.048804,0.197968,0.0,0.154648,0.0,0.000009,0.0
24,616_T1,Single_TMT,141.033333,110,-0.717718,0.452446,0.452729,1.110478,0.136761,9.461191,...,0.539261,0.00001,0.248489,0.000008,0.182434,0.000011,0.389861,0.0,0.075242,0.0
25,617_T1,Single_H2O,111.466667,91,0.214660,0.000019,0.168559,0.089626,0.00002,2.636397,...,0.828079,0.134649,0.85809,0.147622,0.643177,0.0,0.956842,0.000012,0.0,0.0
26,619_T1,Pair_TMT,144.300000,70,0.214128,0.124522,0.260111,0.464724,0.118989,5.061306,...,0.45906,0.110191,0.310107,0.061396,0.100876,0.000011,0.699175,0.0,4.085075,0.0
27,620_T1,Pair_TMT,157.300000,95,0.467422,0.180762,0.30985,0.940908,0.119979,8.418524,...,0.302302,0.053318,0.203144,0.0,0.189702,0.000011,0.487786,0.0,3.773067,0.000013
28,621_T1,Single_TMT,119.566667,14,0.473684,0.149745,0.192434,0.48967,0.145695,6.532176,...,0.382345,0.065107,0.388332,0.049221,0.205868,0.0,0.570522,0.0,4.129625,0.0
29,622_T1,Pair_H2O,151.833333,63,-1.000000,0.000017,0.0,0.144617,6.581145,4.436817,...,0.306674,0.065581,0.180746,0.152586,0.178987,1.103495,0.000012,0.0,3.291098,0.000014
30,623_T1,Pair_H2O,172.633333,69,0.520000,0.074166,0.0,0.294058,8.284835,5.235524,...,0.411346,0.052952,0.188724,0.080616,0.093366,0.648261,0.0,0.0,4.021218,0.0
31,626_T1,Pair_H2O,131.233333,98,0.019608,0.106965,0.0,0.343909,0.000018,3.544868,...,0.320085,0.469905,0.450599,0.518869,0.239808,0.519011,0.000012,0.483862,0.0,0.0
32,627_T1,Pair_H2O,151.533333,87,0.354839,0.396821,0.0,1.321464,0.077886,9.877372,...,0.06347,0.08889,0.262671,0.119459,0.074463,0.883015,0.0,1.100778,0.0,0.0
33,628_T1,Pair_H2O,95.866667,107,-0.872576,0.83786,0.0,0.45603,9.504794,3.804993,...,0.064562,0.000009,0.06266,0.000008,0.059169,0.346181,0.0,0.0,0.0,0.000012
34,629_T1,Pair_H2O,232.066667,93,0.128463,1.069115,0.0,0.183653,8.179015,2.346805,...,0.079054,0.05556,0.071111,0.089243,0.000009,0.080482,0.0,0.000009,0.0,0.000013
35,630_T1,Single_TMT,193.833333,84,-0.486631,0.0,0.302157,0.658652,0.0,7.639403,...,0.178779,0.150577,0.40746,0.082339,0.213331,0.000012,0.720192,0.0,4.432465,0.000014
36,631_T1,Single_H2O,112.600000,183,0.250859,0.198023,0.718272,1.217459,0.073955,5.587933,...,0.114296,0.00001,0.071348,0.049283,0.114095,0.0,0.546419,0.0,0.872648,0.000013
37,632_T1,Single_TMT,119.533333,177,-0.432967,0.435199,1.454145,1.252236,0.065694,7.959292,...,0.165458,0.000009,0.11909,0.0,0.000009,0.0,0.263873,0.0,0.685845,0.000013
38,633_T1,Single_H2O,80.733333,114,-0.944664,0.810688,1.375098,1.276825,0.097932,8.370969,...,0.087011,0.0,0.0,0.0,0.074198,0.0,0.469885,0.0,0.759675,0.000012
39,634_T1,Single_TMT,143.366667,44,0.116364,0.586484,0.0,0.954678,7.486357,5.60522,...,0.176563,0.08532,0.107864,0.0,0.135556,0.214462,0.00001,0.000009,0.705135,0.344785
40,635_T1,Single_H2O,136.300000,23,0.691275,0.206113,0.0,1.70392,7.342491,4.57593,...,0.000009,0.130528,0.383851,0.131436,0.109226,0.000011,0.0,0.0,0.921952,0.0
41,638_T1,Single_H2O,240.133333,65,-0.142857,0.201442,0.000014,2.11717,7.48885,7.297569,...,0.051324,0.0,0.172374,0.060393,0.080689,0.076161,0.0,0.000009,0.354669,0.0
42,640_T1,Pair_H2O,174.066667,84,-0.030075,0.074071,0.000015,0.0,0.048803,6.057263,...,0.124106,0.220979,0.203594,0.117524,0.175851,0.312672,0.000011,0.743574,0.0,0.0
43,641_T1,Pair_H2O,201.300000,147,-0.011696,0.353937,0.0,0.0,0.0,4.355537,...,0.114438,0.314525,0.246322,0.139445,0.083608,0.293855,0.0,1.049125,0.00001,0.0
44,642_T1,Pair_H2O,120.933333,92,0.207824,0.204781,0.000015,0.0,0.06311,7.419658,...,0.0,0.090203,0.207842,0.07989,0.052146,0.218238,0.0,0.223443,0.000009,0.0
45,643_T1,Pair_H2O,155.933333,64,-0.142012,0.447058,0.0,0.000018,0.052091,5.16197,...,0.0,0.128954,0.086208,0.140747,0.04979,0.459871,0.0,0.257668,0.0,0.0
46,660_T1,Pair_H2O,134.866667,94,0.026786,0.587626,0.0,1.526076,0.084437,5.061888,...,0.139053,0.134727,0.253282,0.086732,0.211054,0.57259,0.000011,1.406915,0.0,0.000013

## Random Forest

In [39]:
# Define the phenotype variables to analyze (from command line argument)
phenotype_vars = args.phenotype_vars

# Initialize results dataframe
results_df = pd.DataFrame(columns=["Phenotype", "Perm_test_R2", "p_value"])
importance_df = pd.DataFrame(columns=["Phenotype", "MAG_ID", "Importance"])
plot_df = pd.DataFrame(columns=["Phenotype", "Treatment", "Predicted", "Actual"])

# Define cross-validation strategy
cv = KFold(n_splits=5, shuffle=True, random_state=42)

In [43]:
# Loop through each phenotype variable
phenotype_var = "Grooming_duration"

for phenotype_var in phenotype_vars:
    print(f"Processing {phenotype_var}...")

    # Define the target variable
    y = merged[phenotype_var]

    # One-hot encode Treatment as a covariate
    covariates = pd.get_dummies(merged["Treatment"], drop_first=True)

    # Residualize the phenotype variable against Treatment
    cov_model = LinearRegression()
    cov_model.fit(covariates, y)
    y_pred_cov = cov_model.predict(covariates)
    y_res = y - y_pred_cov  # Residualized target variable

    # Define the abundance predictors (excluding phenotype metadata columns)
    phenotype_cols = {"Sample_ID", "Treatment"} | set(phenotype_vars)
    abundance_features = [col for col in merged.columns if col not in phenotype_cols]
    X_abundance = merged[abundance_features]

    # Define the Random Forest model
    rf_model = RandomForestRegressor(n_estimators=20, random_state=42, n_jobs=-1)

    # Get cross-validated predictions instead of using training predictions
    y_pred_cv = cross_val_predict(rf_model, X_abundance, y_res, cv=cv)

    # Perform permutation test using cross-validation
    score, permutation_scores, pvalue = permutation_test_score(
        rf_model, X_abundance, y_res, cv=cv, n_permutations=1000, scoring="r2", random_state=42
    )

    # Store results
    new_row = pd.DataFrame({
        "Phenotype": [phenotype_var],
        "Perm_test_R2": [score],
        "p_value": [pvalue]
    })
    results_df = pd.concat([results_df, new_row], ignore_index=True)
    
    #display(results_df.head())


    ## Find most important features

    # Train the Random Forest model on the full dataset
    rf_model.fit(X_abundance, y_res)

    # Store results
    new_imp = pd.DataFrame({
        "Phenotype": [phenotype_var] * len(X_abundance.columns),
        "MAG_ID": X_abundance.columns,
        "Importance": rf_model.feature_importances_
    }).sort_values(by="Importance", ascending=False)

    importance_df = pd.concat([importance_df, new_imp], ignore_index=True)
    
    #display(importance_df.head())


    ### Predicted vs. Actual Plot (Cross-Validation) with Regression Line & p-value
    
    # Add predicted values and residuals to a DataFrame for plotting
    new_plot = pd.DataFrame({
        "Phenotype": [phenotype_var] * len(y_pred_cv),
        "Treatment": merged["Treatment"],
        "Predicted": y_pred_cv,
        "Actual": y_res
    })
    plot_df = pd.concat([plot_df, new_plot], ignore_index=True)

    # Linear regression stats
    slope, intercept, r_value, p_value, std_err = linregress(y_pred_cv, y_res)

    # Plot
    plt.figure(figsize=(4, 4))
    sns.scatterplot(data=new_plot, x="Predicted", y="Actual", hue="Treatment", palette=treatment_color_map, alpha=0.6)
    sns.lineplot(x=new_plot["Predicted"], y=intercept + slope * new_plot["Predicted"], color="red", label="Regression Line")

    plt.text(
        x=new_plot["Predicted"].min() + (new_plot["Predicted"].max() - new_plot["Predicted"].min()) * 0.05,
        y=new_plot["Actual"].max() - (new_plot["Actual"].max() - new_plot["Actual"].min()) * 0.1,
        s=f"p = {p_value:.3g}",
        fontsize=8,
        color="black"
    )

    plt.xlabel(f"Predicted Residualized {phenotype_var}", fontsize=8)
    plt.ylabel(f"Actual Residualized {phenotype_var}", fontsize=8)
    plt.xticks(fontsize=8 * 0.33)
    plt.yticks(fontsize=8 * 0.33)
    plt.title(f"Predicted vs. Actual Plot (Cross-Validation) - {phenotype_var}", fontsize=8 * 0.33)
    plt.legend(title="Treatment", fontsize=8 * 0.33, title_fontsize=8 * 0.33)
    plt.savefig(os.path.join(output_dir, f"Predicted_vs_actual_{phenotype_var}_{timepoint}.pdf"), format="pdf")
    plt.show()


    ### Residual Plot (Cross-Validation)
    residuals = y_res - y_pred_cv
    plt.figure(figsize=(4, 4))
    plt.scatter(y_pred_cv, residuals, alpha=0.6, color="green", label="Residuals (CV)")
    plt.axhline(0, color="red", linestyle="--")
    plt.xlabel(f"Predicted Residualized {phenotype_var}", fontsize=8)
    plt.ylabel("Residuals", fontsize=8)
    plt.xticks(fontsize=8 * 0.33)
    plt.yticks(fontsize=8 * 0.33)
    plt.title(f"Residual Plot (Cross-Validation) - {phenotype_var}", fontsize=8 * 0.33)
    plt.legend(fontsize=8 * 0.33)
    plt.savefig(os.path.join(output_dir, f"Residual_plot_{phenotype_var}_{timepoint}.pdf"), format="pdf")  # Save as PDF
    plt.show()


    ### Feature Importance
    plt.figure(figsize=(8, 4))
    sns.barplot(data=new_imp.head(10), x="Importance", y="MAG_ID", palette="viridis")
    plt.xlabel("Feature Importance")
    plt.ylabel("SGB")
    plt.title("Top 10 Important SGBs for Prediction")
    plt.savefig(os.path.join(output_dir, f"Feature_importance_{phenotype_var}_{timepoint}.pdf"), format="pdf")  # Save as PDF
    plt.show()

Processing Center_occupancy...

/tmp/ipykernel_1567220/2063049176.py:117: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(data=new_imp.head(10), x="Importance", y="MAG_ID", palette="viridis")

Processing Grooming_duration...

/tmp/ipykernel_1567220/2063049176.py:117: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(data=new_imp.head(10), x="Importance", y="MAG_ID", palette="viridis")

Processing Social_preference...

/tmp/ipykernel_1567220/2063049176.py:117: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(data=new_imp.head(10), x="Importance", y="MAG_ID", palette="viridis")

In [44]:
# Save final results to CSV
results_df.to_csv(os.path.join(output_dir, f"RF_permutation_test_results_{timepoint}.csv"), index=False)
importance_df.to_csv(os.path.join(output_dir, f"RF_important_features_{timepoint}.csv"), index=False)
plot_df.to_csv(os.path.join(output_dir, f"RF_predict_v_actual_plot_{timepoint}.csv"), index=False)